@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;500;700;900&display=swap");
@import "_reset";
@import "_media-breakpoint-fromMobile";

:root {
  --primaryColor: #3a0a0a;
  --primaryColorAlpha: #cc530dde;
  --priceColor: #af0d12;
  --fontWeight700: 700;
}

* {
  box-sizing: border-box;
  img {
    max-width: 100%;
    margin: auto;
  }
}

html {
  font-family: "Noto Serif TC", serif;
  font-size: 14px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primaryColor);
  z-index: 100;
  .h-logo {
    width: 20%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .hamburger {
    width: 3rem;
    height: 3rem;
    border: 3px solid #fff;
    border-radius: 10px;
    display: grid;
    place-items: center;
    .h-line {
      position: relative;
      width: 70%;
      height: 4px;
      border-radius: 2px;
      background-color: #fff;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #fff;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #fff;
      }
    }
  }
}

.wrapper {
  width: 100%;
  section.kv {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../image/kv-mobile.jpg);
    background-position: 50% 50%;
    background-size: cover;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    h2 {
      font-size: 2rem;
      color: #fff;
    }
    .buying-btn {
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      a {
        display: block;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.6);
        font-size: 2rem;
        letter-spacing: 2px;
        color: var(--primaryColor);
        background-color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        font-weight: var(--fontWeight700);
      }
    }
  }
  section.gap {
    width: 100%;
    height: 5vh;
    background-color: #fff;
  }
  section.recommand {
    width: 100%;
    .porduct-left,
    .porduct-right {
      width: 100%;
      .p-img {
        width: 100%;
        img {
          width: 100%;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
      .p-intro {
        position: relative;
        width: 100%;
        height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
          position: absolute;
          bottom: 15%;
          width: 90%;
          height: 100%;
          padding: 2.5rem 1.5rem 1.5rem 1.5rem;
          background-color: var(--primaryColorAlpha);
          box-shadow: 0px 4px 15px 4px rgba(40, 5, 0, 0.5);
          h2 {
            font-size: 2rem;
            color: #fff;
            margin-bottom: 1rem;
          }
          p {
            font-size: 1rem;
            color: #fff;
            margin-bottom: 1rem;
            letter-spacing: 1px;
          }
          .buying-btn {
            width: 100%;
            height: 3rem;
            background-color: #fff;
            border-radius: 2rem;
            display: grid;
            place-items: center;
            a {
              color: var(--primaryColor);
              text-decoration: none;
              font-size: 1.5rem;
              font-weight: var(--fontWeight700);
            }
          }
        }
      }
    }
  }
  section.contact {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      z-index: 2;
    }
    img {
      display: block;
      width: 50%;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
}
