@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;900&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {    
  width: 100%;
  height: 100vh;
  padding: 30px 0;
  background: linear-gradient(90deg, #55c7ed, #2bb3e0, #3bc1ed);
  background-repeat: no-repeat;
}

.flexbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 10px;
}

.search > h1 {
  color: white;
  margin-bottom: 10px;
  text-shadow: 0 1px #0091c2;
  letter-spacing:2px
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}


.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 200px;
  height: 45px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.submit{
    color: white;
    font-size: 16px;
    background: transparent;
    width: 45px;
    height: 45px;
    padding: 10px;
    border: solid 3px white;
    outline: none;
    border-radius: 35px;
    cursor: pointer;
    margin-left: 20px;
}

.search > div > input::placeholder {
  color: #efefef;
}

.result{
    /* background-color: #fff; */
    width: 50%;
    min-height: 700px;
    /* padding: 20px; */
    /* max-height: 700px; */
}

ul{
    list-style: none;
    margin: 20px 0;
}

li{
    margin: 0 auto;
    display: flex;
    width: 90%;
    max-height: 150px;
    border-radius: 20px;
    /* height: 150px; */
    background-color: rgb(255, 255, 255);
    margin-bottom:10px;
    padding: 15px;
}

li a{
    text-decoration: none;
    color: #111;
}

li .pic{
    width: 15%;
    height: 100%;
    padding: 3px;
    /* background-color: #cac; */
    overflow: hidden;
    margin-right: 20px;
}
li .pic img{
    display:block;
    margin:auto;
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
}

li .content{
    /* padding: 10px; */
    width: 85%;
}
li .content h3{
    width: 100%;
    font-size: 16px;
    margin-bottom: 4px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; */

}
li .content p{
    font-size: 12px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  */
}

.pages{
    display: flex;
}
.pages .switch{
    color: white;
    font-size: 16px;
    background: transparent;
    width: 45px;
    height: 45px;
    margin: 0 15px;
    border: solid 3px white;
    outline: none;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;

}
.pages i {
    font-size: 24px;
}