@media (max-width: 480px) {

    body{
        padding: 0 50px;
    }
    h1{
        font-size: 30px;
        margin-bottom: 75px;
    }

    .music-container{
        margin-bottom: 150px;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .img-container{
        margin: 12px 0;
    }

    .action-btn{
        font-size: 20px;
        margin: 5px 10px;
    }
    .action-btn:nth-child(2){
        font-size: 30px;
    }

    footer{
        padding: 15px;
    }
    footer p{
        margin: 5px ;
    }
    footer p:first-child{
        padding: 0 60px;
        line-height: 20px;
    }
}